src/main/mule/pandemic-solutions-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="pandemic-solutions-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit:config name="pandemic-solutions-api-config" api="pandemic-solutions-api.raml"
        outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
    <os:object-store name="Object_store" doc:name="Object store" doc:id="1720d989-fee1-4f36-86c6-d459c95c520e"
        maxEntries="100000" entryTtl="1" entryTtlUnit="MINUTES"/>
    <flow name="pandemic-solutions-api-main">
        <http:listener config-ref="pandemic-solutions-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="pandemic-solutions-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="pandemic-solutions-api-console">
        <http:listener config-ref="pandemic-solutions-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="pandemic-solutions-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\covid-19\vaccine\centers:pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="5e854356-c6b8-411d-ad7c-4a60124f8fc2"
            message="#['Covid-19 Vaccine Centers Flow Started']"/>
        <logger level="INFO" doc:name="Log Query Params" doc:id="1eeb89da-e7f4-43c8-b227-8d12e4df3e91"
            message="#[attributes.queryParams]"/>
        <http:request method="GET" doc:name="COWIN API" doc:id="e3c495cf-5801-4443-98ff-08df17e8549b"
            config-ref="COWIN_API_configuration" path="/appointment/sessions/public/findByPin">
            <http:query-params><![CDATA[#[output application/java
---
{
	"date" : attributes.queryParams.date,
	"pincode" : attributes.queryParams.pincode
}]]]></http:query-params>
        </http:request>
        <ee:transform doc:name="Map Required Data" doc:id="0a0dc7bd-ec02-44f4-b8db-10395112b4fa">
            <ee:message>
                <ee:set-payload resource="dwls/map-vaccine-centers.dwl"/>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Response" doc:id="6ea58a91-a029-4859-9684-5c3d05d9a794"
            message="&quot;Response Payload:&quot; #[payload]"/>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="0224d44b-a314-4cc5-b50f-6eca23aef3c9"
            message="#['Covid-19 Vaccine Centers Flow Ended']"/>
    </flow>
    <flow name="get:\covid-19\vaccine\certificate\download:pandemic-solutions-api-config">
        <logger level="INFO" message="#[&quot;Download certificate flow started&quot;]" doc:name="Flow Start Logger "/>
        <os:retrieve doc:name="Retrieve Access Token" doc:id="d62276a1-d825-4254-b5f0-b386e3b30afe" key="access_token"
            objectStore="Object_store" target="token">
            <os:default-value><![CDATA[#["No access token"]]]></os:default-value>
        </os:retrieve>
        <choice doc:name="Choice" doc:id="6444ba61-298b-4051-82cb-f2d94f852192">
            <when expression="#[!isEmpty(vars.token) and vars.token != &quot;No access token&quot;]">
                <http:request method="GET" doc:name="COWIN API" doc:id="da37535d-a193-4bce-a515-ba74eb2ddf8f"
                    path="/registration/certificate/public/download" config-ref="COWIN_API_configuration">
                    <http:headers><![CDATA[#[output application/java ---
{
	'Authorization' : 'Bearer ' ++ vars.token
}]]]></http:headers>
                    <http:query-params><![CDATA[#[output applicatoion/java ---
{
	'beneficiary_reference_id':  attributes.queryParams.beneficiary_reference_id
}]]]></http:query-params>
                </http:request>
                <os:remove doc:name="Remove Access Token" doc:id="1fbe27ba-920f-4dd3-b611-6dc111f1d48a" key="access_token"
                    objectStore="Object_store"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log Invalid Request" doc:id="e60701f4-7661-4dab-8243-ad1637faeda4"
                    message="#[&quot;Invalid access token&quot;]"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="a2dadb30-acd4-45e3-8d5f-3cae121856e5"
            message="#[&quot;Download certificate flow ended&quot;]"/>
    </flow>
    <flow name="get:\covid-19\vaccine\certificate\generateOTP:pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="aa5b5486-69c0-454c-8998-10208fbffd12"
            message="#['Generate OTP Flow Started']"/>
        <ee:transform
            xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
            doc:name="Map Generate OTP Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"mobile": attributes.queryParams.'mobile'
}]]></ee:set-payload>
            </ee:message>
            <ee:variables/>
        </ee:transform>
        <http:request method="POST" doc:name="COWIN API" doc:id="d5d26645-2572-4f7b-b33a-1347283f23a2"
            config-ref="COWIN_API_configuration" path="/auth/public/generateOTP"/>
        <os:store doc:name="Store TransactionId" doc:id="b3c4135c-4a67-4454-be9e-a66d5a858b51" key="txnId" objectStore="Object_store">
            <os:value><![CDATA[#[payload.txnId]]]></os:value>
        </os:store>
        <logger level="INFO" doc:name="Log Response" doc:id="61e78637-2907-4b4c-962c-d3011acd3348"
            message="&quot;Response Payload:&quot; #[payload]"/>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="f1827132-4449-488c-acac-9b58bcfa2323"
            message="#['Generate OTP Flow Ended']"/>
    </flow>
    <flow name="get:\covid-19\vaccine\certificate\validateOTP:pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="2e450796-a07d-4da3-8bf0-2a5bc4bdd67d"
            message="#['Validate OTP Flow Started']"/>
        <ee:transform doc:name="Generate SHA256" doc:id="f55e968d-f578-4a19-9e4a-4ce39412faf2">
            <ee:message/>
            <ee:variables>
                <ee:set-variable variableName="otp"><![CDATA[%dw 2.0 
output application/java 
import java!com::pandemic::OTP 
        --- 
        OTP::generate(attributes.queryParams.'otp')]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <os:retrieve doc:name="Retrieve TransactionId" doc:id="a19d4a19-538a-40f4-9819-f7c308ae3b84" key="txnId"
            objectStore="Object_store" target="tId">
            <os:default-value><![CDATA[#["No trasactionId present"]]]></os:default-value>
        </os:retrieve>
        <choice doc:name="Choice" doc:id="f88c3f4b-605c-4290-a112-301e7e1cbb8f">
            <when expression="#[!isEmpty(vars.tId) and vars.tId != &quot;No trasactionId present&quot;]">
                <ee:transform doc:name="Map Validate OTP Request" doc:id="49b94066-8255-47ea-866f-cb7aeb4c63bf"
                    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
 output application/json 
 --- 
 {
 	 "otp" : vars.otp, 
 	"txnId" : vars.tId 
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables/>
                </ee:transform>
                <http:request method="POST" doc:name="COWIN Public API" doc:id="7907c281-b426-4a40-949a-aa5c25f14d1d"
                    config-ref="COWIN_API_configuration" path="/auth/public/confirmOTP"/>
                <logger level="INFO" doc:name="Log Response" doc:id="41ee3efd-3b85-4780-b0a2-dd2fe1cea17f"
                    message="&quot;Response Payload:&quot; #[payload]"/>
                <os:remove doc:name="Remove TransactionId" doc:id="70b13799-e2f3-4da6-a3c9-b699e0b7e769" key="txnId"
                    objectStore="Object_store"/>
                <os:store doc:name="Store Access Token" doc:id="86c9fb18-bec7-43c8-ac17-db038ced5909" key="access_token"
                    objectStore="Object_store">
                    <os:value><![CDATA[#[payload.token]]]></os:value>
                </os:store>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log Invalid Transaction" doc:id="af8ab512-bcce-46d4-ac8d-bf6a3a9eccaf"
                    message="#[&quot;Invalid transaction&quot;]"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="054222da-4dd2-4554-be92-2b41bfef83bf"
            message="#['Validate          OTP Flow Ended']"/>
    </flow>
    <flow name="get:\covid-19\world:pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="cf0ca70c-16e7-4a13-bd1e-b50dca3231c1"
            message="#['Get World Covid Cases Flow Started']"/>
        <http:request method="GET" doc:name="WHO Disease API " doc:id="431b0652-1ed9-4f99-9664-30d74e27ae23"
            config-ref="Covid-19_API_configuration" path="/all"/>
        <ee:transform
            xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
            doc:name="Map Required Data">
            <ee:message>
                <ee:set-payload resource="dwls/map-world-covid-cases.dwl"/>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Response" doc:id="7db74fd4-5a5e-4c64-b8a2-ad12e1f787bf"
            message="&quot;Response Payload:&quot; #[payload]"/>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="b05c6a0c-8e60-457c-b271-6126591d274a"
            message="#['Get World Covid Cases Flow Ended']"/>
    </flow>
    <flow name="get:\covid-19\countries\(country):pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="2d515505-618d-4aa8-9593-640375f41e99"
            message="#['Get Country Covid Cases Flow Started']"/>
        <ee:transform doc:name="Set Country and State Params">
            <ee:variables>
                <ee:set-variable variableName="country"><![CDATA[attributes.uriParams.'country']]></ee:set-variable>
                <ee:set-variable variableName="state"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'state']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" doc:name="WHO Disease API " doc:id="a0fb583b-7794-42f0-bc37-00ccee67b936"
            config-ref="Covid-19_API_configuration" path="gov/{country}">
            <http:uri-params><![CDATA[#[output application/java
---
{
	"country" : vars.country
}]]]></http:uri-params>
        </http:request>
        <ee:transform
            xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
            doc:name="Map Required Data">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if ( isEmpty(vars.state) ) {
	"cases": payload.total.cases,
	"active": payload.total.active,
	"recovered": payload.total.recovered,
	"deaths" : payload.total.deaths
}
else 
( payload.states filter($.state == vars.state) map (obj, indexofObj) ->
{
	"cases": obj.cases,
	"active": obj.active,
	"recovered": obj.recovered,
	"deaths": obj.deaths,
}	)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Response" doc:id="c5a63dba-04e7-45a1-808c-a940cb33d16f"
            message="&quot;Response Payload:&quot; #[payload]"/>
        <logger level="INFO" doc:name="low End Logger" doc:id="16f742cd-91eb-4299-9c26-83c9b8813707"
            message="#['Get Country Covid Cases Flow Ended']"/>
    </flow>
    <flow name="get:\clear:pandemic-solutions-api-config">
        <logger level="INFO" doc:name="Flow Start Logger" doc:id="5913bce1-36c9-4ac1-b80a-010c123f9a8b"
            message="#[&quot;Clear OS Keys Flow Started&quot;]"/>
        <os:clear doc:name="Clear OS Keys" doc:id="5e53f13d-f15b-42f3-8977-1ac6583c46ea" objectStore="Object_store"/>
        <ee:transform doc:name="Set Response" doc:id="cc41f75f-900e-4070-b2ff-fa1182556452" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': "All Keys are cleared"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Flow End Logger" doc:id="d68979bd-0c4e-4a8d-8b65-00817af7ab37"
            message="#[&quot;Clear OS Keys Flow Ended&quot;]"/>
    </flow>
</mule>